<%= render :partial => "/home/navbar" %>


<div id="index-banner" class="parallax-container">
  <div class="section no-pad-bot">
    <div class="container">
      <br><br>
      <h1 class="header center white-text "><span class ="pink-text text-lighten-4">Make</span> You <span class ="pink-text text-lighten-4">Up</span></h1>
      <div class="row center">
        <h5 class="header col s12 light white-text " style="font-weight:700">아침일찍 구름낀</h5>
      </div>
      <div class="row center">
        <a href="#!" id="download-button" class=" pink-text text-lighten-4" style="font-family:Nanum Brush Script"><h2>시작하기</h2></a>
      </div>
      <br><br>

    </div>
  </div>
  <div class="parallax">
    <img class="responsive-img" src ="<%= image_path "intro-bg4.jpg" %>" >
  </div>
</div>

<div class="container">
  <div class="section">
    <div class="row center">
      <div class="col s12 m12 l12">
        <h3><span class ="pink-text text-lighten-4">Make</span> You <span class ="pink-text text-lighten-4">Up</span>은?</h3>
      </div>
    </div>
    <div class="row">
      <div class="col s12 m12 l12 center">
        <img class="responsive-img" src ="<%= image_path "intro1.png" %>" height ="80%" width ="80%"style ="margin:20px">
      </div>
    </div>
    <div class="row">
      <div class = "col s12 m12 l12">
        <h5 class = "center">메이크 유 업은 뷰티 컨설팅이 필요한 고객과 전문가를 중개하여, <br />뷰티 컨설팅을 합리적인 가격에 제공하는 서비스입니다.</h5>
      </div>
    </div>
  </div>
</div>

<div class="parallax-container">
  <div class="section no-pad-bot">
    <div class="container">
      <br><br><br><br>
        <div class = "row">
          <div class = "col s12 m6 l6 right">
            <div class="card-panel medium grey darken-4 ">
              <div class="card-content white-text ">
                <span class="card-title"><h4 class = "pink-text text-lighten-4">Customer</h4></span>
                <table>
                  <tbody>
                    <tr>
                      <td>
                      전문가에게 합리적인 가격으로 1:1 메이크업 코칭을 받으세요.
                      </td>
                    </tr>
                    <tr>
                      <td>
                        퍼스널컬러 진단, 트랜디한 메이크업 등 다양한 프로그램을
                        선택하여 코칭 받을 수 있습니다.
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  <div class="parallax">
    <img class="responsive-img" src ="<%= image_path "index3.jpg" %>" >
  </div>
</div>

<div class="container">
  <div class="section">
    <div class="row center">
      <div class="col s12 m12 l12">
      </div>
    </div>
  </div>
</div>

<div class="parallax-container">
  <div class="section no-pad-bot">
    <div class="container">
      <br><br><br><br>
      <div class = "row">
        <div class = "col s12 m6 l6">
          <div class="card-panel medium grey darken-4">
            <div class="card-content white-text">
              <span class="card-title"><h4 class = "pink-text text-lighten-4">Make up Artist</h4></span>
              <table>
                <tbody>
                  <tr>
                    <td>
                      수업 회당 약 ₩30,000의 수입을 보장합니다.
                    </td>
                  </tr>

                  <tr>
                    <td>
                      Make up Artist들을 위한 정기적 세미나를 개최해서 Artist간의 정보를 교류 할 수 있습니다.
                    </td>
                  </tr>
                  <tr>
                    <td>
                      현장에서 고객을 실제로 만나 많은양의 Feedback을 받을 수 있습니다.
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
  <div class="parallax">
    <img class="responsive-img" src ="<%= image_path "index2.jpg" %>" >
  </div>
</div>

<div class="container">
  <div class="section">
    <div class="row">
      <div class = "col s12 m12 l12">
        <div class = "center">
          <h4>서비스 신청</h4>
          <h6>커스터마이즈된 컨설팅 서비스를 이용하시려면 아래에 정보를 입력하시고 신청버튼을 눌러주세요!</h6>
          <div class = "divider"></div>
          <br />
        </div>
      </div>

      <div class = "col s12 m6 l6">
        <div class = "container">
          <h5 class = "center">고객</h5>
          <form action ="/write_customer" method ="post">
            <div class="input-field col s12 m12 l12">
              <i class="material-icons prefix">account_circle</i>
              <input name ="name_customer" id="name_customer" type="text" required>
              <label for="name_customer">성명</label>
            </div>
            <div class="input-field col s12 m12 l12">
              <i class="material-icons prefix">phone</i>
              <input name = "phone_artist"id="phone_artist" type="text" required>
              <label for="phone_artist">연락처</label>
            </div>
            <div class="input-field col s12 m12 l12">
              <i class="material-icons prefix">email</i>
              <input name = "email_customer" id="email_customer" type="email" class="validate" required>
              <label for="email_customer">Email</label>
            </div>
            <div class = "col s12 m12 l12 center" style = "margin:10px">
              <button class="btn pink lighten-4 waves-effect waves-light" type="submit" name="action">Submit
                <i class="material-icons right">send</i>
              </button>
            </div>
          </form>
        </div>
      </div>

      <div class = "col s12 m6 l6">
        <div class = "container">
          <h5 class = "center">컨설턴트</h5>
          <form action ="/write_artist" method ="post">
            <div class="input-field col s12 m12 l12">
              <i class="material-icons prefix">account_circle</i>
              <input name = "name_artist" id="name_artist" type="text" required>
              <label for="name_artist">성명</label>
            </div>
            <div class="input-field col s12 m12 l12">
              <i class="material-icons prefix">phone</i>
              <input name = "phone_artist"id="phone_artist" type="text" required>
              <label for="phone_artist">연락처</label>
            </div>
            <div class="input-field col s12 m12 l12">
              <i class="material-icons prefix">email</i>
              <input name="email_artist" id="email_artist" type="email" class="validate" required>
              <label for="email_artist">Email</label>
            </div>
            <div class = "col s12 m12 l12 center" style = "margin:10px">
              <button class="btn pink lighten-4 waves-effect waves-light" type="submit" name="action">Submit
                <i class="material-icons right">send</i>
              </button>
            </div>
          </form>
        </div>
      </div>

    </div>
  </div>
</div>

<div id="modal1" class="modal modal-fixed-footer">
     <div class="modal-content">
       <h4>공지사항</h4>
       <p>루미뷰 가입하고 리뷰 남긴 후, <a href = "https://goo.gl/forms/j6EqSLDDJHJvlIfF2">피드백 설문</a>을 해주시면
          선착순 100명에게 스타벅스 아메리카노 기프티콘 드려요! (세가지 모두 해야 받으실 수 있어용!) 허위정보 No 성의없는 작성도 No
          자취 하느라 힘든 충남대 주변 자취생을 위해 루미뷰가 커피 한 잔 쏩니다!
          원룸 리뷰 플랫폼 루미뷰가 프로모션을 오늘부터 진행합니다.
          루미뷰에 회원가입하고 원룸 정보를 등록 후
          피드백 설문을 작성한 선착순 100명에게
          스타벅스 아메리카노 톨 사이즈 기프티콘이 팡팡!!
          가입하고 리뷰 및 피드백을 남겨 주시면 조건 없이 드려요!
          가입 및 리뷰 / 피드백 설문 작성 완료해주신다면
          10월 8일 저녁까지 기프티콘을 보내드립니다.
          지치는 일상, 루미뷰와 함께 커피 한 잔 어떠세요?:)
          * 허위정보나 성의없는 정보를 제공할 경우, 기프티콘 수여 대상에서 제외될 수 있음을 알려드립니다.
          ** 충남대 주변 거주 자취생 한정 프로모션입니다.
          *** 피드백 설문 주소 입니다 : <a href = "https://goo.gl/forms/j6EqSLDDJHJvlIfF2">https://goo.gl/forms/j6EqSLDDJHJvlIfF2</a>
          **** 가입, 원룸 정보 등록, 피드백 설문 작성 이렇게 세 가지를 모두 작성하셔야 응모가 완료됩니다.</p>
     </div>
     <div class="modal-footer">
       <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ">확인</a>
     </div>
   </div>

<%= render :partial => "/home/footer" %>

<script>
  $(document).ready(function(){
    $(".button-collapse").sideNav();
    $('.parallax').parallax();
    $('#modal1').openModal();
    $('.slider').slider();

  });

  $(document).ready(function(){
   });
</script>
